@page "/juegos-online"

<PageTitle>Juegos online</PageTitle>

<head>
    <h1>Bienvenid@@ a nuestra seccion de juegos online</h1>
</head>
<br>
<h2>Juegos:</h2>
<ul>
    <li>
        <a href="juegos-online/formitas">Formitas</a>
    </li>
</ul>
<footer>
    <p>Si el juego no carga refresca la pagina</p>
</footer>